.recipeList {

    display: grid;
    /* max-width: 1200px; */
    margin: 20px 10px;
    margin-inline: auto;
    padding-inline: 12px;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    padding: 40px;
}

.noFav{
    width: 100%;
    height: 100%;
}

.noFav h2{
    text-align: center;
    white-space: nowrap;
    margin: auto;
    padding: 20vw;
}

@media screen and (max-width : 425px){
    .recipeList {

        display: grid;
        /* max-width: 1200px; */
        margin: 20px 10px;
        margin-inline: auto;
        padding-inline: 12px;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
        padding : 10px
    }
}